section{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
div{
    border: 3px dashed red;
    padding: 15px;
    width: 25vw;
    height: 45vh;
}
textarea {
    resize: none;
 }

 h3, h2, p, h5{
     font-family: Helvetica, sans-serif;
 }
 
 article#espacoDesp{
    margin-top: 70px;
    padding: 15px;
    width: 15vw;
    height: 20vh;
    border-bottom: 2px double black;
 }